<section>
  <div class="track-details">
    <p class="track-album">{{album}}</p>
    <p class="track-artist">{{artist}}</p>
    <h1 class="track">{{track}}</h1>
    <p class="track-time">{{time}}</p>
    <div class="track-image"><img src={{image}}></div>
  </div>
</section>
