<section>
  <div class="track-details">
    <p class="track-album">{{album}}</p>
    <h1 class="track-artist">{{artist}}</h1>
    <p class="track">{{track}}</p>
    <p class="track-time">{{time}}</p>
    <div class="track-image"><img src={{image}}></div>
    <p class="tack-explicit"></p>
</section>
