<section>
  <div class="track-details">
    <h4 class="track-album">{{album}}</h4>
    <p class="track-artist">{{artist}}</p>
    <p class="track">{{track}}</p>
    <p class="track-time">{{time}}</p>
    <div class="track-image"><img src={{image}}></div>
    <p class="tack-explicit"> </p>
</section>
